
:root {
    --blue: #256EFF;
    --blue2: #5C92FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    background: #f0f0f5;
}

h1 {
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

h2 {
    color: var(--blue2);
    font-weight: 550;    
}

h5{
    font-weight: bold;
}

.logo {
    background-color:var(--blue);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4em;
}

.logo img {
    width: 5em;
    height: 5em;
    margin-left: 2em;
}

#dashboard {
    width: 30%;
    height: 50%;
    max-width: 1100px;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    border: 10px solid #fff;
    margin-top: 2vw;
    padding: 20px;
    box-shadow: 5px 5px 10px #0076a3;
    -webkit-box-shadow: 5px 5px 10px #0076a3;
    -moz-box-shadow: 5px 5px 10px #0076a3;
}

.form-control{
    margin: 30px 0px;
    text-align: center;
}

.card-deck {
    justify-content: space-between;
    margin: 6vw 4vw 4vw 4vw;
}

.country-name {
    width: 10%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
}

.county-name-title {
    color: var(--blue);
    font-size: 3em;
    position: center;    
}

.card border-primary mb-3 {
    width: auto;
    height: auto;
}

.card-header {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.card-title {
    font-size: 16px;
}

#case-card{
    box-shadow: 5px 5px 10px #428bca;
    -webkit-box-shadow: 5px 5px 10px #428bca;
    -moz-box-shadow: 5px 5px 10px #0076a3;
}

#case-death {
    box-shadow: 5px 5px 10px #2E2E2E;
    -webkit-box-shadow: 5px 5px 10px #2E2E2E;
    -moz-box-shadow: 5px 5px 10px #212121;
}

#case-tests {
    box-shadow: 5px 5px 10px #5cb85c;
    -webkit-box-shadow: 5px 5px 10px #5cb85c;
    -moz-box-shadow: 5px 5px 10px #448b44;
}

#case-status {
    box-shadow: 5px 5px 10px #d9534f;
    -webkit-box-shadow: 5px 5px 10px #d9534f;
    -moz-box-shadow: 5px 5px 10px #a33e3b;
}

@media (max-width: 700px) {
    #dashboard {
        background-position-x: 180vw;
        width: 50%;
        height: 50%;
    }

    @media (max-width: 414px) {
        #dashboard{
            width: 60%;
            height: 60%;
            margin-top: 1em;
            margin-bottom: 3em;
        }
        .card-deck {
            display: block;
            margin-top: 2em;
            margin-left: 4em;  
        }
    }
}
